<%- include('../partials/head')%>

<%- include('../partials/topbar')%>

<%- include('../partials/sidebar')%>

<section class="content">
    <div class="container-fluid">
        <h1>Add Faculty</h1>
    </div>
</section>

<%- include('../partials/bottom')%>