<%- include('./partials/head')%>

<%- include('./partials/topbar')%>

<%- include('./partials/sidebar')%>

<section class="content">
    <div class="container-fluid">
    </div>
</section>

<%- include('./partials/bottom')%>